# Ignore directory "done"
/done/*


/docs_to_convert/*
!docs_to_convert/subdir/
/docs_to_convert/subdir/*
!docs_to_convert/subdir/dummy.pdf


/docs_to_convert *


# Include dummy file
!docs_to_convert/subdir/dummy.pdf

__pycache__/